body {
  background: #2c3e50
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

h2 {
  font-family: 'Luckiest Guy', cursive;
  color: white;
}
h3 {
  font-family: 'Luckiest Guy', cursive;
  color: white;
}
h4 {
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

.ftfont {
  font-family: 'Luckiest Guy', cursive;
}

.user-login-text {
  font-size: 15px;
  color: white;
  text-align: center;
}
